body{
    background-color: coral;
    text-align: center;
    margin-top: 50px;
}
h1{
    color: chartreuse;
}
button{
    padding: 10px;
    background-color: pink;
    color: rgb(19, 20, 19);
    font-size: 1.2em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:hover{
    background-color: coral;
}
.all{
    border: 2px solid #00ddff;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: cornflowerblue;
}
.all:hover{
    background-color: darkgreen;
}